header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    color: white;
}

main {
    width: 80%;
    padding: 16px;
    margin: auto;
    height: 85vh;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 16, 16);
    color: white;
}